@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
 }

 a {
    text-decoration: none;

 }

 img {
    max-width: 100%;
 }

 .wrapper {
    background: #63938C;
    background: radial-gradient(circle, rgba(99, 147, 140, 1) 0%, rgba(0, 0, 0, 1) 69%);
    width: 100%;

 }

 .container {
    width: 1400px;
    margin: 0 auto;
 }

 header {
    padding: 50px;
 }

 header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
 }

 header nav {
    float: right;
    width: 50%;
 }

 header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }

 header nav ul li a {
    color: antiquewhite;
 }

 header nav ul li:not(.active) a:hover{
    border-bottom: 5px solid rgba(99, 147, 140, 1);
    transition: all 500ms ease;
 }